body {
    background-image: url(https://i.imgur.com/7cSh4S3.png);
    background-repeat: no-repeat
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#formDH {
    border-radius: 5%;
    max-width: 400px;
    background-color: white;
    flex-grow: 1;
    padding: 30px 30px 70px;
    box-shadow: 0px 0px 17px 2px rgb(120 67 230);
}

.form-group {
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
}

.form-input {
    border: 0;
    outline: 0;
    color: rgb(120 67 230);
    flex-grow: 1;
}

    .form-input::placeholder {
        color: #808080
    }

.form-submit {
    background-color: #f5f5f5;
    border: 1px solid #7843e6;
    color: #080808;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
    width: 200px;
    margin: auto;
    font-size: 17px
}

    .form-submit:hover {
        background-color: #7843e6;
        color: white
    }

.form-input {
    border-bottom: 2px solid #7843e6;
    background-color: white;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border-left: white;
    border-right: white;
    border-top: white;
}


