body {
}
.khung {
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

#formbv {
    background-color: white;
    flex-grow: 1;
    padding: 25px 30px 30px;
}

.ip-tieude {
    font-size: 20px;
    margin-bottom: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #a4a6b3;
    width: 50%;
    flex-grow: 1;
    outline: 0;
}

    .ip-tieude::placeholder {
        color: #808080
    }

.noidung {
    width: 100%;
    height: 120px;
    font-size: 17px;
    font-family: arial;
}

.ip-anh {
    font-size: 20px;
    margin-bottom: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #a4a6b3;
    width: 50%;
    margin-top: 10px;
    flex-grow: 1;
    outline: 0;
}

.ip-dangbai {
    background-color: #f5f5f5;
    border: 1px solid #7843e6;
    color: #080808;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
    width: 200px;
    margin: auto;
    font-size: 17px
}

    .ip-dangbai:hover {
        background-color: #7843e6;
        color: white
    }

.khungdang {
    background-color: white;
    flex-grow: 1;
    padding: 25px 30px 30px;
    margin-left: 70px;
    margin-right: 70px;
}
#binhluan{

}